* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: hsl(223, 19%, 93%);
}

button:hover{
  box-shadow: inset 200px 0 0 #00000055;
}

a {
  text-decoration: none;
}

h3 {
  color: black;
}
